<!doctype html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
  </head>
  <body>
    <h1>{{ title }}</h1>
    <p>
      Чтобы узнать chat_id, необходимо добавить в группу с фотографиями локации бота
      @re_GetMyIDBot, после чего скопировать из его сообщения ID. После получения ID,
      этого бота из группы нужно удалить.
    </p>
    <form method="post" action="{{ action }}">
      <p>
        <label for="name">Название</label>
        <input id="name" name="name" type="text" value="{{ name }}">
      </p>
      <p>
        <label for="chat_id">chat_id</label>
        <input id="chat_id" name="chat_id" type="text" value="{{ chat_id }}">
      </p>
      <button type="submit">Сохранить</button>
    </form>
    <p><a href="/admin/locations">Назад</a></p>
  </body>
</html>
